@import (reference) './variables';

//css var declarations - pulled from appropriate declarations in variables.less

:root {


	/** Layout */

	--toolbar-height: @toolbar-height;
	--checkbox-size: @checkbox-size;
	--mobile-toolbar-height: @mobile-toolbar-height;
	--external-header-height: @external-header-height;
	--search-header-height: @search-header-height;
	--sidebar-width: @sidebar-width;
	--rightbar-width: @rightbar-width;

	// Spacing
	--spacing-xs: @spacing-xs;
	--spacing-sm: @spacing-sm;
	--spacing-md: @spacing-md;
	--spacing-lg: @spacing-lg;
	--spacing-xl: @spacing-xl;

	/** Colors */


	// Grays
	--gray-base: @gray-base;
	--gray-darkest: @gray-darkest;
	--gray-darker: @gray-darker;
	--gray-dark: @gray-dark;
	--gray: @gray;
	--gray-light: @gray-light;
	--gray-lighter: @gray-lighter;
	--gray-lightest: @gray-lightest;
	--gray-placeholder: @gray-placeholder;

	// Branding colors
	--brand-primary: @brand-primary;
	--brand-secondary: @brand-secondary;
	--brand-tertiary: @brand-tertiary;
	--brand-quarternary: @brand-quarternary;
	--brand-success: @brand-success;
	--brand-info: @brand-info;
	--brand-warning: @brand-warning;
	--brand-danger: @brand-danger;

	// Body foreground/background colors
	--body-bg: @body-bg;
	--text-color: @text-color;
	--dialog-title-fg: @dialog-title-fg;
	--background-gray: @background-gray;

	// Link foreground colors
	--link-color: @link-color;
	--link-hover-color: @link-hover-color;
	--link-hover-decoration: @link-hover-decoration;

	//Item background colors
	--item-hover-bg: @item-hover-bg;
	--item-selected-bg: @item-selected-bg;

	// Borders
	--border-color-primary: @border-color-primary;

	// <hr> line color
	--hr-border: @hr-border;

	// Forms
	--placeholder-color: @placeholder-color;

	/** Typography */

	// Body text
	--font-family-sans-serif: @font-family-sans-serif;
	--font-family-serif: @font-family-serif;
	--font-family-monospace: @font-family-monospace;

	--font-family-base: @font-family-base;
	--font-brand-primary: @font-brand-primary;
	--font-family-primary: @font-family-primary;
	--font-family-secondary: @font-family-secondary;

	--font-size-base: @font-size-base;
	--font-size-med: @font-size-med;
	--font-size-large: @font-size-large;
	--font-size-small: @font-size-small;

	--font-size-h1: @font-size-h1;
	--font-size-h2: @font-size-h2;
	--font-size-h3: @font-size-h3;
	--font-size-h4: @font-size-h4;
	--font-size-h5: @font-size-h5;
	--font-size-h6: @font-size-h6;


	// Elements
	--app-menu-active-color: @app-menu-active-color;
	--list-active-bg: @list-active-bg;
	--list-hover-bg: @list-hover-bg;
	--sidebar-bg-color: @sidebar-bg-color;
	--sidebar-primary-button-color: @sidebar-primary-button-color;
	--sidebar-shaded-color: @sidebar-shaded-color;
	--rightbar-bg-color: @rightbar-bg-color;
	--read-pane-toolbar-color: @read-pane-toolbar-color;
	--read-pane-bg-color: @read-pane-bg-color;

	// Headings
	--headings-font-family: @headings-font-family;
	--headings-font-weight: @headings-font-weight;
	--headings-line-height: @headings-line-height;
	--headings-color: @headings-color;
	--headings-small-color: @headings-small-color;

	/** Breakpoints */

	// Extra small screen / phone
	--screen-xs: @screen-xs;
	--screen-phone: @screen-phone;
	// Small screen / tablet portrait
	--screen-sm: @screen-sm;
	--screen-tablet: @screen-tablet;
	// Medium screen / tablet landscape
	--screen-md: @screen-md;
	--screen-desktop: @screen-desktop;
	// Large screen / wide desktop
	--screen-lg: @screen-lg;
	--screen-lg-desktop: @screen-lg-desktop;
	// So media queries don't overlap when required, provide a maximum
	--screen-xs-max: @screen-xs-max;
	--screen-sm-max: @screen-sm-max;
	--screen-md-max: @screen-md-max;
}
