:root {
	color-scheme: light dark;
	--toolbar-height: 49px;
	--mobile-toolbar-height: 57px;
	--external-header-height: 24px;
	--search-header-height: 72px;
	--sidebar-width: 192px;
	--rightbar-width: 192px;
	--login-background-color: var(--brand-primary-500);
	--login-inner-background-color: light-dark(#ffffff, #000000);
	--gray-base: light-dark(#000000, #f2f2f2);
	--gray-darkest: light-dark(#262626, #d9d9d9);
	--gray-darker: light-dark(#4d4d4d, #999999);
	--gray-dark: light-dark(#666666, #777777);
	--gray: light-dark(#777777, #666666);
	--gray-light: light-dark(#999999, #4d4d4d);
	--gray-lighter: light-dark(#d9d9d9, #262626);
	--gray-lightest: light-dark(#f2f2f2, #191919);
	/* Stable colors which will not changed in dark mode */
	--gray-base-stable: #000000;
	--gray-darkest-stable: #262626;
	--gray-darker-stable: #4d4d4d;
	--gray-dark-stable: #666666;
	--gray-stable: #777777;
	--gray-light-stable: #999999;
	--gray-lighter-stable: #d9d9d9;
	--gray-lightest-stable: #f2f2f2;
	--black-bg: #000000;
	--white-bg: #ffffff;

	--gray-placeholder: var(--gray-dark);
	--warm-gray: var(--gray-light);
	--off-white: #fafafa;
	--translucent-black: rgba(0, 0, 0, 0.6);
	--translucent-white: rgba(255, 255, 255, 0.6);
	--overlay-bg: light-dark(var(--translucent-black), var(--translucent-white));
	--branding-font-family: "Roboto", Helvetica, Arial, sans-serif;
	--branding-font-family-regular: "Roboto", Helvetica, Arial, sans-serif;
	--branding-font-family-medium: "Roboto", Helvetica, Arial, sans-serif;
	--branding-font-family-bold: "Roboto", Helvetica, Arial, sans-serif;
	--branding-font-family-medium-italic: "Roboto", Helvetica, Arial, sans-serif;
	--color-light-positive: #00bd02;
	--color-light-negative: #ff1f1f;
	--body-bg: light-dark(#ffffff, #000000);
	--text-color: light-dark(var(--gray-darker), var(--gray-darkest));
	--text-color-white: #ffffff;
	--text-color-black: #000000;
	--dialog-title-fg: var(--gray-base);
	--background-gray: var(--gray-lightest);
	--link-color: light-dark(var(--brand-primary-600), var(--brand-primary-400));
	--link-hover-color: light-dark(var(--brand-primary-800), var(--brand-primary-200));
	--link-hover-decoration: underline;
	--item-hover-bg: #ffffff;
	--item-selected-bg: var(--brand-primary-100);
	--border-color: light-dark(var(--gray-lighter), var(--gray));
	--hr-border: light-dark(var(--gray-lighter), var(--gray));
	--input-border-color: light-dark(var(--gray), var(--gray));
	--placeholder-color: var(--gray-dark);
	--app-menu-active-color: light-dark(var(--text-color-white), var(--brand-primary-500));
	--app-menu-active-background-color: light-dark(var(--brand-primary-500), var(--text-color-white));
	--list-active-bg: light-dark(var(--brand-primary-50), var(--brand-primary-900));
	--list-hover-bg: var(--gray-lightest);
	--folder-item-hover-bg: var(--list-hover-bg);
	--sidebar-bg-color: var(--gray-lightest);
	--sidebar-header-bg-color: var(--gray-lightest);
	--sidebar-shaded-color: var(--gray-lighter);
	--rightbar-bg-color: var(--gray-lightest);
	--read-pane-toolbar-color: var(--gray-lightest);
	--read-pane-bg-color: var(--gray-lightest);
	--favorite-indicator-active: var(--brand-warning-500);
	--favorite-indicator-inactive: var(--gray);
	--favorite-indicator-hover: var(--brand-warning-400);
	--favorite-indicator-disabled: var(--gray-lighter);
	--trash-indicator: var(--gray);
	--trash-indicator-hover: var(--brand-primary-500);
	--file-type-doc: #0f73ff;
	--file-type-ppt: #ff9937;
	--file-type-pdf: #ff4c4e;
	--file-type-xls: #0e9d58;
	--file-type-zip: #ada293;
	--file-type-default: #949cae;
	--file-type-media: #bc0e67;
	--file-type-code: #00b4ca;
	--toast-success-color: var(--brand-success-500);
	--toast-failure-color: var(--brand-danger-500);
	--toast-warning-color: var(--brand-warning-500);
	--font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
	--font-family-serif: Georgia, "Times New Roman", Times, serif;
	--font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
	--font-family-base: "Roboto", Helvetica, Arial, sans-serif;
	--font-brand-primary: inherit;
	--font-family-primary: inherit;
	--font-family-secondary: inherit;
	--font-family-plainText: monospace;
	--font-size-base: 14px;
	--font-size-med: calc(var(--font-size-base) * 1.15); /*~16px*/
	--font-size-large: calc(var(--font-size-base) * 1.25); /*~18px*/
	--font-size-small: calc(var(--font-size-base) * 0.85); /*~12px*/
	--font-size-h1: calc(var(--font-size-base) * 2.6); /* ~36px */
	--font-size-h2: calc(var(--font-size-base) * 2.15); /* ~30px */
	--font-size-h3: calc(var(--font-size-base) * 1.7); /* ~24px */
	--font-size-h4: calc(var(--font-size-base) * 1.25); /* ~18px */
	--font-size-h5: var(--font-size-base);
	--font-size-h6: calc(var(--font-size-base) * 0.85); /* ~12px */
	--line-height-base: 1.42857143;
	--line-height-computed: calc(var(--font-size-base) * var(--line-height-base)); /* ~20px */
	--headings-font-family: inherit;
	--headings-font-weight: 300;
	--headings-line-height: 1.1;
	--headings-color: inherit;
	--headings-small-color: var(--gray-light);
	--spacing-base: 8px;
	--spacing-xs: calc(var(--spacing-base) / 2);
	--spacing-sm: var(--spacing-base);
	--spacing-md: calc(var(--spacing-base) * 2);
	--spacing-lg: calc(var(--spacing-base) * 3);
	--spacing-xl: calc(var(--spacing-base) * 4);
	--icon-size-xs: 12px;
	--icon-size-sm: 16px;
	--icon-size-md: 24px;
	--icon-size-lg: 32px;
	--logo-height: 32px;
	--logo-max-width: 200px;
	--header-bg: var(--gray-lightest);
	--header-fg: var(--gray-darker);
	--header-actions-fg: var(--gray-darker);
	--external-header-bg: var(--brand-primary-700);
	--external-header-fg: #ffffff;
	--search-highlighter: #fff100;
	--row-height-narrow: 72px;
	--row-height-wide: 27px;
	--tag-secondary-font-color: #ffffff;
	--popover-row-border-color: var(--border-color);
	--warning-banner-bg: light-dark(var(--brand-warning-300), var(--brand-warning-500));
	--drop-zone-bg: var(--brand-primary-50);
	--drop-zone-border-color: var(--brand-primary-600);
}