@import "./icon-variables.less";
@font-face {
	font-family: "zimbra-icons";
	src: url("./icons/zimbra-icons.eot?cplvdh");
	src: url("./icons/zimbra-icons.eot?cplvdh#iefix") format("embedded-opentype"), url("./icons/zimbra-icons.ttf?cplvdh") format("truetype"), url("./icons/zimbra-icons.woff?cplvdh") format("woff"), url("./icons/zimbra-icons.svg?cplvdh#zimbra-icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

:global {
	.zimbra-icon {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: "zimbra-icons" !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		vertical-align: middle;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		&:before {
			// Un-implemented icons are replaced with unicode REPLACEMENT characters
			content: "      �";
		}
	}
	.zimbra-icon-drag {
		&:before {
			content: @zimbra-icon-drag;
		}
	}
	.zimbra-icon-label {
		&:before {
			content: @zimbra-icon-label;
		}
	}
	.zimbra-icon-zimbra-drive {
		&:before {
			content: @zimbra-icon-zimbra-drive;
		}
	}
	.zimbra-icon-zimbra-connect {
		&:before {
			content: @zimbra-icon-zimbra-connect;
		}
	}
	.zimbra-icon-send-feedback {
		&:before {
			content: @zimbra-icon-send-feedback;
		}
	}
	.zimbra-icon-priority-high {
		&:before {
			content: @zimbra-icon-priority-high;
			color: #4d4d4d;
		}
	}
	.zimbra-icon-priority-low {
		&:before {
			content: @zimbra-icon-priority-low;
			color: #4d4d4d;
		}
	}
	.zimbra-icon-copy-to-clipboard {
		&:before {
			content: @zimbra-icon-copy-to-clipboard;
		}
	}
	.zimbra-icon-about {
		&:before {
			content: @zimbra-icon-about;
		}
	}
	.zimbra-icon-language {
		&:before {
			content: @zimbra-icon-language;
		}
	}
	.zimbra-icon-add-event {
		&:before {
			content: @zimbra-icon-add-event;
		}
	}
	.zimbra-icon-folder-add {
		&:before {
			content: @zimbra-icon-folder-add;
		}
	}
	.zimbra-icon-add-note {
		&:before {
			content: @zimbra-icon-add-note;
		}
	}
	.zimbra-icon-plus {
		&:before {
			content: @zimbra-icon-plus;
		}
	}
	.zimbra-icon-archive {
		&:before {
			content: @zimbra-icon-archive;
		}
	}
	.zimbra-icon-caret-down {
		&:before {
			content: @zimbra-icon-caret-down;
		}
	}
	.zimbra-icon-user-o {
		&:before {
			content: @zimbra-icon-user-o;
		}
	}
	.zimbra-icon-user {
		&:before {
			content: @zimbra-icon-user;
		}
	}
	.zimbra-icon-bold {
		&:before {
			content: @zimbra-icon-bold;
		}
	}
	.zimbra-icon-list-ul {
		&:before {
			content: @zimbra-icon-list-ul;
		}
	}
	.zimbra-icon-calendar-alt-o {
		&:before {
			content: @zimbra-icon-calendar-alt-o;
		}
	}
	.zimbra-icon-calendar-o {
		&:before {
			content: @zimbra-icon-calendar-o;
		}
	}
	.zimbra-icon-align-center {
		&:before {
			content: @zimbra-icon-align-center;
		}
	}
	.zimbra-icon-chat {
		&:before {
			content: @zimbra-icon-chat;
		}
	}
	.zimbra-icon-check-square {
		&:before {
			content: @zimbra-icon-check-square;
		}
	}
	.zimbra-icon-square-o {
		&:before {
			content: @zimbra-icon-square-o;
		}
	}
	.zimbra-icon-check {
		&:before {
			content: @zimbra-icon-check;
		}
	}
	.zimbra-icon-close-circle {
		&:before {
			content: @zimbra-icon-close-circle;
		}
	}
	.zimbra-icon-close {
		&:before {
			content: @zimbra-icon-close;
		}
	}
	.zimbra-icon-collapse-items {
		&:before {
			content: @zimbra-icon-collapse-items;
		}
	}
	.zimbra-icon-angle-double-left {
		&:before {
			content: @zimbra-icon-angle-double-left;
		}
	}
	.zimbra-icon-pencil {
		&:before {
			content: @zimbra-icon-pencil;
		}
	}
	.zimbra-icon-address-book {
		&:before {
			content: @zimbra-icon-address-book;
		}
	}
	.zimbra-icon-arrows-alt-inverse {
		&:before {
			content: @zimbra-icon-arrows-alt-inverse;
		}
	}
	.zimbra-icon-file-word-o {
		&:before {
			content: @zimbra-icon-file-word-o;
		}
	}
	.zimbra-icon-chevron-right {
		&:before {
			content: @zimbra-icon-chevron-right;
		}
	}
	.zimbra-icon-download {
		&:before {
			content: @zimbra-icon-download;
		}
	}
	.zimbra-icon-angle-right {
		&:before {
			content: @zimbra-icon-angle-right;
		}
	}
	.zimbra-icon-smile-o {
		&:before {
			content: @zimbra-icon-smile-o;
		}
	}
	.zimbra-icon-expand-items {
		&:before {
			content: @zimbra-icon-expand-items;
		}
	}
	.zimbra-icon-angle-double-right {
		&:before {
			content: @zimbra-icon-angle-double-right;
		}
	}
	.zimbra-icon-facebook-official {
		&:before {
			content: @zimbra-icon-facebook-official;
		}
	}
	.zimbra-icon-mail-forward {
		&:before {
			content: @zimbra-icon-mail-forward;
		}
	}
	.zimbra-icon-expand {
		&:before {
			content: @zimbra-icon-expand;
		}
	}
	.zimbra-icon-GIF {
		&:before {
			content: @zimbra-icon-GIF;
		}
	}
	.zimbra-icon-grid {
		&:before {
			content: @zimbra-icon-grid;
		}
	}
	.zimbra-icon-question-circle {
		&:before {
			content: @zimbra-icon-question-circle;
		}
	}
	.zimbra-icon-home {
		&:before {
			content: @zimbra-icon-home;
		}
	}
	.zimbra-icon-image {
		&:before {
			content: @zimbra-icon-image;
		}
	}
	.zimbra-icon-arrows-alt {
		&:before {
			content: @zimbra-icon-arrows-alt;
		}
	}
	.zimbra-icon-indent {
		&:before {
			content: @zimbra-icon-indent;
		}
	}
	.zimbra-icon-italic {
		&:before {
			content: @zimbra-icon-italic;
		}
	}
	.zimbra-icon-align-left {
		&:before {
			content: @zimbra-icon-align-left;
		}
	}
	.zimbra-icon-link {
		&:before {
			content: @zimbra-icon-link;
		}
	}
	.zimbra-icon-mobile-phone {
		&:before {
			content: @zimbra-icon-mobile-phone;
		}
	}
	.zimbra-icon-ellipsis-h {
		&:before {
			content: @zimbra-icon-ellipsis-h;
		}
	}
	.zimbra-icon-folder-move {
		&:before {
			content: @zimbra-icon-folder-move;
		}
	}
	.zimbra-icon-angle-left {
		&:before {
			content: @zimbra-icon-angle-left;
		}
	}
	.zimbra-icon-angle-down {
		&:before {
			content: @zimbra-icon-angle-down;
		}
	}
	.zimbra-icon-book {
		&:before {
			content: @zimbra-icon-book;
		}
	}
	.zimbra-icon-list-ol {
		&:before {
			content: @zimbra-icon-list-ol;
		}
	}
	.zimbra-icon-external-link {
		&:before {
			content: @zimbra-icon-external-link;
		}
	}
	.zimbra-icon-outdent {
		&:before {
			content: @zimbra-icon-outdent;
		}
	}
	.zimbra-icon-file-pdf-o {
		&:before {
			content: @zimbra-icon-file-pdf-o;
		}
	}
	.zimbra-icon-multimedia-active {
		&:before {
			content: @zimbra-icon-multimedia-active;
		}
	}
	.zimbra-icon-multimedia {
		&:before {
			content: @zimbra-icon-multimedia;
		}
	}
	.zimbra-icon-file-powerpoint-o {
		&:before {
			content: @zimbra-icon-file-powerpoint-o;
		}
	}
	.zimbra-icon-print {
		&:before {
			content: @zimbra-icon-print;
		}
	}
	.zimbra-icon-radio {
		&:before {
			content: @zimbra-icon-radio;
		}
	}
	.zimbra-icon-radio-active {
		&:before {
			content: @zimbra-icon-radio-active;
		}
	}
	.zimbra-icon-mail-reply-all {
		&:before {
			content: @zimbra-icon-mail-reply-all;
		}
	}
	.zimbra-icon-mail-reply {
		&:before {
			content: @zimbra-icon-mail-reply;
		}
	}
	.zimbra-icon-align-right {
		&:before {
			content: @zimbra-icon-align-right;
		}
	}
	.zimbra-icon-search {
		&:before {
			content: @zimbra-icon-search;
		}
	}
	.zimbra-icon-cog {
		&:before {
			content: @zimbra-icon-cog;
		}
	}
	.zimbra-icon-music {
		&:before {
			content: @zimbra-icon-music;
		}
	}
	.zimbra-icon-shield {
		&:before {
			content: @zimbra-icon-shield;
		}
	}
	.zimbra-icon-star {
		&:before {
			content: @zimbra-icon-star;
		}
	}
	.zimbra-icon-alarm {
		&:before {
			content: @zimbra-icon-alarm;
		}
	}
	.zimbra-icon-arrow-left {
		&:before {
			content: @zimbra-icon-arrow-left;
		}
	}
	.zimbra-icon-address-book-sync {
		&:before {
			content: @zimbra-icon-address-book-sync;
		}
	}
	.zimbra-icon-adn {
		&:before {
			content: @zimbra-icon-adn;
		}
	}
	.zimbra-icon-font {
		&:before {
			content: @zimbra-icon-font;
		}
	}
	.zimbra-icon-trash {
		&:before {
			content: @zimbra-icon-trash;
		}
	}
	.zimbra-icon-twitter {
		&:before {
			content: @zimbra-icon-twitter;
		}
	}
	.zimbra-icon-underline {
		&:before {
			content: @zimbra-icon-underline;
		}
	}
	.zimbra-icon-arrow-down {
		&:before {
			content: @zimbra-icon-arrow-down;
		}
	}
	.zimbra-icon-users {
		&:before {
			content: @zimbra-icon-users;
		}
	}
	.zimbra-icon-play-circle-o {
		&:before {
			content: @zimbra-icon-play-circle-o;
		}
	}
	.zimbra-icon-file-excel-o {
		&:before {
			content: @zimbra-icon-file-excel-o;
		}
	}
	.zimbra-icon-file-archive-o {
		&:before {
			content: @zimbra-icon-file-archive-o;
		}
	}
	.zimbra-icon-clock {
		&:before {
			content: @zimbra-icon-clock;
		}
	}
	.zimbra-icon-check-circle {
		&:before {
			content: @zimbra-icon-check-circle;
		}
	}
	.zimbra-icon-minus {
		&:before {
			content: @zimbra-icon-minus;
		}
	}
	.zimbra-icon-camera {
		&:before {
			content: @zimbra-icon-camera;
		}
	}
	.zimbra-icon-minus-square {
		&:before {
			content: @zimbra-icon-minus-square;
		}
	}
	.zimbra-icon-paperclip {
		&:before {
			content: @zimbra-icon-paperclip;
		}
	}
	.zimbra-icon-arrow-up {
		&:before {
			content: @zimbra-icon-arrow-up;
		}
	}
	.zimbra-icon-bell {
		&:before {
			content: @zimbra-icon-bell;
		}
	}
	.zimbra-icon-calendar-range {
		&:before {
			content: @zimbra-icon-calendar-range;
		}
	}
	.zimbra-icon-trash-forever {
		&:before {
			content: @zimbra-icon-trash-forever;
		}
	}
	.zimbra-icon-user-circle-o {
		&:before {
			content: @zimbra-icon-user-circle-o;
		}
	}
	.zimbra-icon-add-contact {
		&:before {
			content: @zimbra-icon-add-contact;
		}
	}
	.zimbra-icon-envelope {
		&:before {
			content: @zimbra-icon-envelope;
		}
	}
	.zimbra-icon-add-circle {
		&:before {
			content: @zimbra-icon-add-circle;
		}
	}
	.zimbra-icon-text-options {
		&:before {
			content: @zimbra-icon-text-options;
		}
	}
	.zimbra-icon-assign-list {
		&:before {
			content: @zimbra-icon-assign-list;
		}
	}
	.zimbra-icon-bars {
		&:before {
			content: @zimbra-icon-bars;
		}
	}
	.zimbra-icon-restore {
		&:before {
			content: @zimbra-icon-restore;
		}
	}
	.zimbra-icon-remove-list {
		&:before {
			content: @zimbra-icon-remove-list;
		}
	}
	.zimbra-icon-lock {
		&:before {
			content: @zimbra-icon-lock;
		}
	}
	.zimbra-icon-repeat {
		&:before {
			content: @zimbra-icon-repeat;
		}
	}
	.zimbra-icon-refresh {
		&:before {
			content: @zimbra-icon-refresh;
		}
	}
	.zimbra-icon-chevron-left {
		&:before {
			content: @zimbra-icon-chevron-left;
		}
	}
	.zimbra-icon-bell-slash {
		&:before {
			content: @zimbra-icon-bell-slash;
		}
	}
	.zimbra-icon-warning {
		&:before {
			content: @zimbra-icon-warning;
		}
	}
	.zimbra-icon-encrypted {
		&:before {
			content: @zimbra-icon-encrypted;
		}
	}
	.zimbra-icon-search-plus {
		&:before {
			content: @zimbra-icon-search-plus;
		}
	}
	.zimbra-icon-search-minus {
		&:before {
			content: @zimbra-icon-search-minus;
		}
	}
	.zimbra-icon-rotate_right {
		&:before {
			content: @zimbra-icon-rotate_right;
		}
	}
	.zimbra-icon-rotate_left {
		&:before {
			content: @zimbra-icon-rotate_left;
		}
	}
	.zimbra-icon-not-signed {
		&:before {
			content: @zimbra-icon-not-signed;
		}
	}
	.zimbra-icon-signed {
		&:before {
			content: @zimbra-icon-signed;
		}
	}
	.zimbra-icon-cloud {
		&:before {
			content: @zimbra-icon-cloud;
		}
	}
	.zimbra-icon-videocam {
		&:before {
			content: @zimbra-icon-videocam;
		}
	}
	.zimbra-icon-location {
		&:before {
			content: @zimbra-icon-location;
		}
	}
	.zimbra-icon-verified {
		&:before {
			content: @zimbra-icon-verified;
		}
	}
	.zimbra-icon-not-verified {
		&:before {
			content: @zimbra-icon-not-verified;
		}
	}
	.zimbra-icon-outline-user-circle-o {
		&:before {
			content: @zimbra-icon-outline-user-circle-o;
		}
	}
	.zimbra-icon-web {
		&:before {
			content: @zimbra-icon-web;
		}
	}
	.zimbra-icon-code {
		&:before {
			content: @zimbra-icon-code;
		}
	}
	.zimbra-icon-check-square-o {
		&:before {
			content: @zimbra-icon-check-square-o;
		}
	}
}