:root {
	--brand-primary-50: #d9edf6;
	--brand-primary-100: #b3dbec;
	--brand-primary-200: #80c4e0;
	--brand-primary-300: #4dacd4;
	--brand-primary-400: #1f96c8;
	--brand-primary-500: #0088c1;
	--brand-primary-600: #0076a8;
	--brand-primary-700: #00618a;
	--brand-primary-800: #00567a;
	--brand-primary-900: #004968;
	--brand-secondary-50: #fde6de;
	--brand-secondary-100: #fbcebd;
	--brand-secondary-200: #f8ad92;
	--brand-secondary-300: #f58c66;
	--brand-secondary-400: #f36f3e;
	--brand-secondary-500: #f15b24;
	--brand-secondary-600: #de511e;
	--brand-secondary-700: #c74617;
	--brand-secondary-800: #bb4013;
	--brand-secondary-900: #ae390e;
	--brand-tertiary-50: #dae8f3;
	--brand-tertiary-100: #b4d2e7;
	--brand-tertiary-200: #82b4d7;
	--brand-tertiary-300: #5095c6;
	--brand-tertiary-400: #237ab8;
	--brand-tertiary-500: #0568ae;
	--brand-tertiary-600: #045995;
	--brand-tertiary-700: #034879;
	--brand-tertiary-800: #033f69;
	--brand-tertiary-900: #023558;
	--brand-success-50: #d9ebe2;
	--brand-success-100: #b3d7c5;
	--brand-success-200: #80bd9f;
	--brand-success-300: #4da278;
	--brand-success-400: #1f8a55;
	--brand-success-500: #007a3e;
	--brand-success-600: #006131;
	--brand-success-700: #004322;
	--brand-success-800: #00331a;
	--brand-success-900: #002111;
	--brand-info-50: #e6f6fa;
	--brand-info-100: #ceecf5;
	--brand-info-200: #ade0ef;
	--brand-info-300: #8cd3e8;
	--brand-info-400: #6fc8e2;
	--brand-info-500: #5bc0de;
	--brand-info-600: #4db4d3;
	--brand-info-700: #3da6c5;
	--brand-info-800: #349ebe;
	--brand-info-900: #2a96b6;
	--brand-warning-50: #fff4dd;
	--brand-warning-100: #ffeabb;
	--brand-warning-200: #ffdc8e;
	--brand-warning-300: #ffcd60;
	--brand-warning-400: #ffc137;
	--brand-warning-500: #ffb81c;
	--brand-warning-600: #eda915;
	--brand-warning-700: #d7980d;
	--brand-warning-800: #cb8e08;
	--brand-warning-900: #bf8404;
	--brand-danger-50: #f8dfdf;
	--brand-danger-100: #f1bfbf;
	--brand-danger-200: #e79595;
	--brand-danger-300: #dd6a6a;
	--brand-danger-400: #d54444;
	--brand-danger-500: #cf2a2a;
	--brand-danger-600: #ba2626;
	--brand-danger-700: #a12121;
	--brand-danger-800: #941e1e;
	--brand-danger-900: #851b1b;
}